form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

input {
  margin: 3px;
  border: solid 1px var(--color-dark);
  border-radius: 3px;
  width: 10%;
}

label {
  margin: 3px;
}

button {
  margin: 3px;
  border: solid 1px var(--color-dark);
  border-radius: 3px;
  width: 10%;
  background-color: var(--color-green);
  color: var(--color-light);
}
