table,
th {
  border: none;
  border-collapse: collapse;
}

table {
  width: 80%;
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
}

th {
  font-weight: bold;
  font-size: 18px;
  background-color: var(--color-green2);
  color: var(--color-light);
  padding: 8px;
}
