footer {
  background-color: var(--color-dark);
  color: var(--color-light2);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.footer-txt {
  margin-top: 0;
  font-size: 12px;
}
