header {
  background-color: var(--color-dark);
  color: var(--color-light2);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.logo {
  align-self: flex-start;
}

.user-info {
  align-self: flex-end;
}

.user-info button {
  width: 45%;
}
