td {
  text-align: center;
  padding: 5px;
  color: var(--color-dark);
  border: none;
  border-collapse: collapse;
}

.even-row {
  background-color: var(--color-light);
}

.odd-row {
  background-color: var(--color-light2);
}

.remove-btn,
.edit-btn {
  width: 85%;
}
