td {
  text-align: center;
  padding: 5px;
  color: rgb(53, 53, 53);
  border: none;
  border-collapse: collapse;
}

.even-row {
  background-color: whitesmoke;
}

.odd-row {
  background-color: rgb(183, 183, 183);
}

.remove-btn,
.edit-btn {
  width: 80%;
}
